<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.troll.trollbucket">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trollbucket">
        <activity
            android:name=".MainBaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.troll.trollbucket.SwitchAliasActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/aaa"
            android:label="@string/app_name"
            android:targetActivity=".MainBaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity-alias>
        <activity-alias
            android:name="com.troll.trollbucket.SwitchAliasOneActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/test"
            android:label="@string/app_name"
            android:targetActivity=".MainBaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>
    </application>

</manifest>