<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <activity android:name=".viewpager.TestViewPager2Activity" />
        <activity android:name=".viewpager.TestViewPagerActivity" />
        <activity android:name=".activityResultContracts.ResultActivity" />
        <activity android:name=".activityResultContracts.ResultTwoActivity" />
        <activity android:name=".coroutines.CoroutinesActivity" />
        <activity android:name=".dag.DAGActivity" />
        <activity
            android:name=".softinput.SoftInputActivity"
            android:windowSoftInputMode="stateUnspecified" />

        <activity android:name=".animation.AnimationListActivity" />
        <activity android:name=".animation.AnimationDetailActivity" />
        <activity android:name=".shortCut.ShortCutActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".TransparentActivity" />
        <activity android:name=".reflect.ReflectActivity" />
        <activity android:name=".jetpack.LiveDataActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".kotlin.KotlinDemoActivity" />
        <activity android:name=".button.ButtonActivity" />
        <activity android:name=".timer.TimerActivity" />
        <activity android:name=".view.CoordinateSystemActivity" />
        <activity android:name=".jetpack.JetpackActivity" />
        <activity android:name=".view.CustomViewActivity" />
        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".agency.AgencyActivity" />

        <service
            android:name=".service.WidgetService"
            android:enabled="true" />


        <receiver
            android:name=".widget.AdaptiveWidget"
            android:exported="true"
            android:label="Troll">
            <intent-filter>
                <action android:name="com.xmiles.widget.refresh" />
                <action android:name="com.xmiles.widget.click" />
                <action android:name="com.xmiles.widget.anim" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.starbaba.toolwidget.ACTION_CLICK" />
                <action android:name="com.starbaba.toolwidget.ACTION_UPDATE_VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_step" />
        </receiver>
        <service
            android:name=".workmanager.DemoJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>